@charset "UTF-8";

* {
   margin: 0;
   padding: 0  ;
}

.pai {
   width: 1000;
   height: 1000px;
   margin: 20px;
   background-color: red;
   padding: 20px 10px 5px 50px;
}

.filho {
   width: 30%;
   height: 30%;
   background-color: green;
   padding: 30px 20px;
   border-radius: 30px;
}